createdAt: "2018-02-22T02:48:14.776Z"
updatedAt: "2018-05-03T01:10:11.774Z"
type: "MARKDOWN_NOTE"
folder: "aeae1f50d1814c94c245"
title: "プロジェクトの構成"
content: '''
  # プロジェクトの構成
  
  ```
  myproject
   |---- bin # go install時の格納先
   |
   |---- pkg # 依存パッケージのオブジェクトファイル
   |
   |---- src # プログラムのソースコード
  ```
  
  ## プロジェクトを作る
  エディターの補完やlinterを有効にするためには、direnvを使用しないほうが良い。
  具体的には、`src pkg bin`などのフォルダを作って管理しないこと。
  めんどくさすぎぃぃ！！う〜んこのw
  ```shell
  cd myproject
  dep init
  ```
  ~~開いたvimで下記を記述~~
  ```shell
  export GOBIN=$(pwd)/bin
  export GOPATH=$(pwd)
  export PATH=$PATH:$GOBIN
  ```
  ~~エラーが出るなら`direnv allow .`を実行。~~
  
'''
tags: [
  "構成"
  "プロジェクト"
]
isStarred: false
isTrashed: false
