createdAt: "2018-04-17T00:28:19.958Z"
updatedAt: "2018-04-17T00:28:41.887Z"
type: "MARKDOWN_NOTE"
folder: "681ce933dcb605096030"
title: "オブジェクト指向設計"
content: '''
  # オブジェクト指向設計
  
  
'''
tags: []
isStarred: false
isTrashed: false
