createdAt: "2018-03-18T15:05:16.455Z"
updatedAt: "2018-03-18T15:06:00.121Z"
type: "MARKDOWN_NOTE"
folder: "796d5842bb9d51e60090"
title: "未解決"
content: '''
  未解決
  
  - [ ] fish_shellでの`alias`の追加
'''
tags: []
isStarred: false
isTrashed: false
