createdAt: "2018-03-18T15:05:16.455Z"
updatedAt: "2018-04-06T06:46:11.989Z"
type: "MARKDOWN_NOTE"
folder: "796d5842bb9d51e60090"
title: "未解決"
content: '''
  未解決
  
  ## brew関連
  - [x] fish_shellでの`alias`の追加
    ```shell
    function brew
      set -l index (contains -i $HOME/.pyenv/shims $PATH)
      set PATH[$index] /bin # /bin is dummy
      command brew $argv
      set PATH[$index] $HOME/.pyenv/shims
    end
    ```
    以上を`config.fish`に記述して解決。
    1,2行目で一時的に`$HOME/.pyenv/shims`のパスを削除した`PATH`を設定
    3行目で`brew`の処理を実行。
    4行目で`$HOME/.pyenv/shims`を再設定。
    
'''
tags: [
  "問題"
  "pyenv"
]
isStarred: false
isTrashed: false
