type: "MARKDOWN_NOTE"
folder: "b1ab926b1b9c987ba6fb"
title: "気になること"
content: '''
  # 気になること
  CUIに絵文字を出力できる
  UUID
  jetbrainsのgitignoreプラグイン
'''
tags: []
isStarred: false
isTrashed: false
createdAt: "2017-09-20T14:09:02.890Z"
updatedAt: "2018-02-12T11:29:24.431Z"
