type: "MARKDOWN_NOTE"
folder: "b1ab926b1b9c987ba6fb"
title: "気になること"
content: '''
  # 気になること
  - [x] CUIに絵文字を出力できる
  - [x] UUID
  - [ ] jetbrainsのgitignoreプラグイン
  - [ ] 変換指定文字列
  - [ ] macにtomcat
  - [ ] システム設計演習のツール
  - [ ] intellijでscene builder
  - [ ] [loopback(Web API作成ツール)](https://docs.strongloop.com/display/JA/LoopBack)
  - [ ] [Swagger(Web APIドキュメント作成ツール)](https://swagger.io/)
'''
tags: []
isStarred: false
isTrashed: false
createdAt: "2017-09-20T14:09:02.890Z"
updatedAt: "2018-05-15T10:30:00.492Z"
