createdAt: "2018-03-07T12:08:52.388Z"
updatedAt: "2018-03-07T13:39:21.570Z"
type: "MARKDOWN_NOTE"
folder: "5bd68d65bb075b050a66"
title: "コマンド"
content: '''
  # コマンド
  
  |操作内容|コマンド|
  |---|---|
  |コードの実行| `ctrl + R`|
  |コード整理 |`ctrl + option + B`|
  |ファイル内文字列検索 |`cmd + F`|
  |プロジェクト内文字列検索 |`cmd + shift + F`|
  |プロジェクト内ファイル検索 |`cmd + T`|
  |現在行の下に改行|`cmd + Enter`|
  |現在行の上に改行|`cmd + ctrl + Enter`|
  |現在行を削除|`ctrl + K`|
  |現在行を複製|`cmd + shift + D`|
  |行を指定して移動|`ctrl + G`|
  |行を上下に移動|`cmd + ctrl + up/down`|
  |ペイン分割|`cmd + Kを押した直後にup/down/left/right`|
'''
tags: []
isStarred: false
isTrashed: false
