createdAt: "2018-05-24T12:21:16.894Z"
updatedAt: "2018-05-24T12:21:55.523Z"
type: "MARKDOWN_NOTE"
folder: "df02bf0efe6ef807a581"
title: "Pycharm"
content: '''
  # Pycharm
  - [ ] WebStormのセッティングファイルをエクスポートする
'''
tags: []
isStarred: false
isTrashed: false
