createdAt: "2018-02-24T06:20:27.022Z"
updatedAt: "2018-09-23T14:40:39.635Z"
type: "MARKDOWN_NOTE"
folder: "796d5842bb9d51e60090"
title: "fish shell"
content: '''
  # fish shell
  
  ## 設定ファイル
  ```shell
  vi ~/.config/fish/config.fish # fish shellの設定ファイル
  source ~/.config/fish/config.fish # 再読み込み
  ```
  
  ## PATH設定と環境変数
  fish shellにはexportがないため`--export`か`-x`をオプションでつける。
  これを`config.fish`に書いてしまうとなぜか重複して追加されるため注意。
  
  `$PATH`をつかするときは`fish_user_paths`を使うのがいい。
  ```shell:fish
  # 一時的な追加っぽい
  set -x PATH 追加したいパス $PATH # 既存のパスの前に追加
  set -x PATH $PATH 追加したいパス # 既存のパスの後ろに追加
  set -x 環境変数名 値 # 環境変数の追加
  
  # 永続
  set PATH 追加したいパス $PATH
  set -U fish_user_paths 追加したいパス $fish_user_paths
  
  # パス削除
  set -e -U fish_user_paths[1]
  ```
  
  ## コマンド置換
  fish shellでのコマンド置換
  ```shell:fish
  # bash
  $(command)
  
  # fish
  (command)
  ```
  
'''
tags: []
isStarred: false
isTrashed: false
