createdAt: "2018-02-24T06:21:45.417Z"
updatedAt: "2018-09-23T15:40:25.391Z"
type: "MARKDOWN_NOTE"
folder: "796d5842bb9d51e60090"
title: "コマンド"
content: '''
  # コマンド
  
  ## 環境変数の出力
  ```shell
  printenv
  ```
  
  ## パスの出力
  ```shell
  echo $PATH
  ```
  
  ## ディレクトリとファイル関連
  ```shell
  pwd # 現在の作業ディレクトリの絶対パス
  
  ls ディレクトリ名 # ディレクトリの内容をリスト表示
  ls ディレクトリ名 -l # 関連情報を付加して表示
  ls ディレクトリ名 -a # 隠しファイル・フォルダも含めて表示
  
  cp ファイルA ファイルB # ファイルAをファイルBにコピー
  cp ファイルA ファイルB -f # 同盟ファイルがあった場合上書き
  cp ファイルA ファイルB -i # 上書きするかどうか確認
  
  mv ファイルA ディレクトリB # ファイルAをファイルBに移動
  mv ファイルA ファイルB # 名前をファイルAからファイルBに変更
  
  rm ファイル名 # ファイルを削除
  rm ディレクトリ名 -d # 空のディレクトリを削除
  rm ディレクトリ名 -r # 内容物も含めてディレクトリを削除
  
  mkdir ディレクトリ名 # ディレクトリを作成
  mkdir ディレクトリ名 -p # 途中のディレクトリが存在しない場合にそれも含めて作成
  ```
  
  ## プロセス
  ```shell
  lsof -i :3000
  kill -QUIT 75342
  ```
  
  ## ファイル権限
  `chown`コマンドを使って現ログインユーザーに指定したファイルの権限を付与する。
  ファイルではなくディレクトリを指定した際に`-R`オプションをつけるとそのディレクトリと含まれるファイルの所有者も変更する。
  ```shell
  sudo chown -R $USER /usr/local/bin
  sudo chown -R (whoami) /usr/local/bin
  ```
  
  
  
  
  
  
  
  
'''
tags: [
  "コマンド"
]
isStarred: false
isTrashed: false
