createdAt: "2018-05-30T07:39:16.376Z"
updatedAt: "2018-07-31T06:04:37.003Z"
type: "MARKDOWN_NOTE"
folder: "b137b4b21d4f9bfac0e4"
title: "備忘録"
content: '''
  # 備忘録
  
  ## UIView
  - 上むきに高さをあげる時はマイナス値で指定する。
  
  ## ポインタ
'''
tags: []
isStarred: false
isTrashed: false
