createdAt: "2018-04-13T05:53:13.144Z"
updatedAt: "2018-04-13T06:20:44.691Z"
type: "MARKDOWN_NOTE"
folder: "681ce933dcb605096030"
title: "自然科学史"
content: '''
  # 自然科学史
  水曜日に資料が上がる。
'''
tags: []
isStarred: false
isTrashed: false
