createdAt: "2018-05-12T01:46:55.201Z"
updatedAt: "2018-05-13T13:48:39.419Z"
type: "MARKDOWN_NOTE"
folder: "7e2bb3c3722208362868"
title: "知見"
content: '''
  # 知見
  [スクリプトリファレンス](http://docs.unity3d.com/jp/current/ScriptReference)
  ```C#
  // デバッグ用の出力
  Debug.Log("Test");
  ```
  
  ## FixedUpdateとUpdate
  - `FixedUpdate`は一定間隔で呼ばれ物理演算に向いているが`Input`を利用したスクリプトには向いてない。
  - `Update`は一定間隔ではないが一秒間に何度も呼ばれるため`Input`を利用した処理に向いている。
'''
tags: []
isStarred: false
isTrashed: false
