createdAt: "2018-04-18T04:30:00.484Z"
updatedAt: "2018-04-18T06:35:28.183Z"
type: "MARKDOWN_NOTE"
folder: "681ce933dcb605096030"
title: "情報セキュリティ"
content: '''
  # 情報セキュリティ
  毎週水曜日に配布
  
  ## 第1章(ITに潜む危険)
  ### 1.ITの落とし穴
  以下は実際に起こった事件である。
  #### 個人情報の漏洩
  - 2004年 大手インターネット接続業者から約460万人分の顧客情報が流出
    - 原因はIDとパスワードのずさんな管理
  - 2004年 大手通信販売会社から約30万人分の顧客情報が流出
  
  ##### 教訓
  - 企業側にも大きな損失
    - 対策費用
    - 信用の失墜
  #### キーロガーによるキー入力の記録
  - インターネットカフェのパソコンに、ユーザーのキー入力を記録するプログラムを仕込む
  - ユーザーが入力したIDやパスワードをこっそり記録。
  - これを悪用し、銀行口座に不正アクセス。
  
  ##### 教訓
  - どこからでもインターネットを利用できる利便性の反面、情報の取り扱いには注意が必要
  
  #### 常時接続の落とし穴
  - ADSL(在来の電話線を利用して行う高速データ通信)などを利用して24時間インターネットに接続したまま
  - 知らないうちにクラッカーに侵入され、IDとパスワードを盗まれる。
  - 盗まれた情報を悪用され被害に遭う。
  
  ##### 教訓
  - 無防備な常時接続は非常に危険
  
  #### 危ない無線LAN
  - 無線LANの電波はビル外に達する
  - 設定が不十分だと、容易に無断使用される(ウォードライビング)
  
  ##### 教訓
  - 不正使用を許さないセキュリティ設定が必須
  
  ### 2.インターネットに潜む危険
  #### インターネットサーフィンに伴う危険
  - トロイの木馬のダウンロード
  - Webページ閲覧による不正プログラムの自動的なダウンロード
  - 高額な会員料金の請求
  - 国際電話会社からの高額な通信料金の請求
  
  #### メールの利用に伴う危険
  - スパムメール
  - 高額な会員料金の請求
  - 身に覚えのない料金を請求する詐欺メール
  - フィッシングメールによる情報漏洩
  
  ## 第3章(ウイルス被害とその対策)
  何故か2章がない...
  ### 1.ウイルスの定義と症状
  #### ウイルスとは
  コンピュータに対して悪さをする不正プログラム
  
  - 自己伝染機能
    - 自らの機能で他のプログラムに自らをコピーする
  - 潜伏機能
    - 発病するまで症状を出さない機能
  - 発病機能
    - プログラム、データ等のファイルの破壊を行ったり、設計者の意図しない動作をする等の機能
  
  #### 感染するとどうなるのか?
  - 再起動の繰り返し
    - OSの脆弱性を利用(ネットワークに接続しただけで感染)
    - 例:W32/MSBlaster(2003年、夏)
  - 目に見えないところでの大きな被害
    - 大量メール送信
    - 送信者詐称
  - インターネットの停止
    - 例：W32/SQLSlammer(2003年1月)
    - 脆弱性を悪用しインターネットに接続しているだけで感染
    - 大量のパケットをインターネット上に発信し、通信料が急増
  - DoS攻撃
    - 感染したコンピュータを踏み台にしてDoS攻撃を行うウイルス
    以下代表的なウイルス
    - W32/Netsky
    - W32/Mydoom
    - W32/MSBlaster
  - 情報漏洩
    - コンピュータ内のファイルを添付ファイルとして送信してしまう(W32/Klezなど)
    - キーロガーを仕込む(W32/Fizzerなど)
    - P2Pファイル交換ソフトによる情報漏洩(W32/Antinnyなど)
  - フィッシング詐欺を働くウィルス
    - 実在する会社などのWebページにそっくりな画面を表示し、クレジットカードなどの重要な情報を入力させる。
    - 例：W32/Mimail(2003年11月)
  - その他の症状
    - ファイル、フォルダが削除される(W32/Klez(クレズ)など)
    - アプリケーションソフトが使えなくなる(W32/Navidad(ナビダッド)など)
    - Webページが改竄される(W32/Nimda(二ムダ)など)
    - 遠隔地からのアクセスを可能にしてしまう(W32/Mydoom(マイドゥーム))
    - 画面に画像が表示される(W32/Hybris(ハイブリス))
  
  ### 2.ウイルス感染の原因
  - ファイルのオープンによる感染
    - メールの添付ファイルを開くと感染(現在の主流)
    - 他にもダウンロード、CDやUSBを利用した感染経路がある
  - メールの開封やプレビューによる感染
    - メールソフトやOSの脆弱性を悪用
    - W32/Klez, W32/Bugber, W32/Nimda, W32/Badtrans
  
  - ネットワークへの接続による感染
    - OSの脆弱性を悪用
    - ネットワークに繋がっている脆弱性のあるコンピュータに対し、ウィルスファイルを送り込む
    - 脆弱なパスワード設定のパソコンに対し、パスワードを攻略して感染
  - Webページの閲覧による感染
    - Webページを見るだけでウィルスに感染
    - 例：W32/Nimda
    - 攻撃者がWebページにウイルスを仕掛けておくこともある(Wscript/Fortnight)
  - 感染予防
    - 脆弱性を塞ぐことが一番の対策
  ### 3.巧妙化する手口
  - 送信者を詐称したウイルスメールの大量送信
  - ユーザの気を引くようなファイル名(例：秘蔵写真集)
  - 二重拡張子やアイコンの偽装
  - ワクチンソフトの停止
    - ワクチンソフトがそのウイルスに対応している場合停止される前に駆除してくれる
    - 更新は定期的に行う！
  - ウイルスのタイプ一覧表とウイルスのタイプあれこれ
    - タイプ一覧(情報セキュリティ読本の巻末の見返し参照)
    - ウイルスについて知る意義
  ### 4.ウイルスの感染予防と駆除
  - ウイルス対策７ヶ条
    - ワクチンソフトを常に最新にする
    - メールの添付ファイルは開く前に検査をする
    - ダウンロードしたファイルは開く前に必ず検査をする
    - アプリケーションのセキュリティ機能を正しく活用する
    - セキュリティパッチをあて、セキュリティホールを塞ぐ
    - ウイルス感染の兆候を見逃さない
    - 万一に備え、データのバックアップを行う
  - 添付ファイルの取り扱い５ヶ条
    - 知らない相手のメールは無視
    - 添付ファイルの見た目に騙されない
    - 知人からのメールでも添付ファイル付きは疑う
    - やたらにファイルを添付しない
    - メールソフトの添付ファイルの扱い方を理解する
  - ウイルス感染への対処方法
    - コンピュータを停止し、管理者の指示を仰ぐ
    - ワクチンソフトで検査
    - 駆除
    - 復旧
    - 再度検査
    - 予防策を講じる
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
'''
tags: [
  "Eラーニング"
]
isStarred: false
isTrashed: false
