createdAt: "2018-07-23T09:01:00.505Z"
updatedAt: "2018-07-31T01:13:55.049Z"
type: "MARKDOWN_NOTE"
folder: "681ce933dcb605096030"
title: "模擬試験対策 用語編"
content: '''
  # 模擬試験対策 用語編
  - オブジェクト指向
    - 対象領域に存在する「もの」と「こと」に着目して，オブジェクトを識別する.そして，それらを単位として，ソフトウェアを構成していく方法
    - 対象領域に存在する「もの」と「こと」に着目して、オブジェクトを識別する、そして、それらを単位として、ソフトウェアを構成していく方法
    - 対象領域に存在する「もの」と「こと」に着目して、オブジェクトを識別する、そして、それらを単位としてソフトウェアを構成していく方法
    - 対象領域に存在する「もの」と「こと」に着目して、オブジェクトを識別する、そして、それらを単位として、ソフトウェアを構成していく方法
  - カプセル化
    - データとそれを処理する操作をまとめて、データを隠すこと。
  - 属性
    - クラスのインスタンスが共通に持っているデータ項目。
    - クラスのインスタンスが共通で持っているデータ項目
  - 操作
    - オブジェクトが公開するサービスの仕様。
    - オブジェクトが公開するサービスの仕様
  - メソッド
    - オブジェクトが公開する操作の実装。
    - オブジェクトが公開する操作の実装。
  - ポリもフィズム
    - 同じメッセージに対して、それを受け取ったオブジェクトが、属するクラスに応じて異なる振る舞いをすること。
    - 同じメッセージに対して、それを受け取ったオブジェクトが属するクラスに応じて異なる振る舞いをすること
  - アクター
    - システムの外部要素。
  - ユースケース
    - システムがアクターに提供する機能、アクターにとって価値の認められる粒度の機能
  - オブジェクト
    - 数えられ、個々を識別できて、属性値、リンク、操作のいずれかまたは全部を有するもの。
  - インスタンス
    - クラスから生成された具体例
  - クラス
    - 同じ性質を持ったオブジェクトの集合
  - リンク
    - オブジェクト間の意味的な結びつき
  - 関連
    - クラス間の意味的な関係。
  - 関連名
    - 関連の意味を明確にするための関連の名前。
  - 関連端名
    - 関連先の特徴を示す名前。
  - 多重度
    - あるオブジェクトに接続される関連先のクラスのオブジェクトの可能性の数
  - 集約
    - 全体と部分の関係であり、部分側のライフサイクルは全体側から独立。
    - 非依存
    - 白い方
  - コンポジション
    - 全体と部分の関係であり、部分側のライフサイクルが全体側に依存。
    - 依存
    - 黒く方
  - 汎化関係
    - 部分集合とそれを含む集合の関係
    - 部分集合とそれを含む集合の関係
    - 部分集合とそれを含む集合の関係
    - 部分集合とそれを含む集合の関係
    - 部分集合とそれを含む集合の関係
  - バウンダリ
    - システムの外部と内部の境界に位置するクラスの役割
    - システムの外部と内部の境界に位置するクラスの役割
  - コントロール
    - ユースケースの流れを制御するクラスの役割
    - ユースケースの流れを制御するクラスの役割
  - エンティティ 
    - 永続化すべき重要なデータを保持するクラスの役割
    - 永続化すべき重要なデータを保持するクラスの役割
    - 永続化すべき重要なデータを保持するクラスの役割
    - 永続化すべき重要なデータを保持するクラスの役割
  - パッケージ
    - モデル要素を分類するための名前空間
    - モデル要素を分類するための名前空間
  - コンポーネント
    - 機能を有する部品
    - 機能を有する部品
  - インターフェース
    - 機能の仕様
    - 機能の仕様
    - 機能の仕様
  - 実現関係
    - インタフェースとその実現クラス間の関係
    - インターフェースとその実現クラス間の関係
  - public(+)
    - 全てのクラスからアクセス可能
  - package(~)
    - 自分と同一パッケージ内のクラスからのみアクセス可能
  - protected(#)
    - 自分とそのサブクラスからのみアクセス可能
  - private(-)
    - 自分からのみアクセス可能
  - インスタンススコープ属性
    - そのクラスの各オブジェクトが固有に持つ属性
  - クラススコープ属性
    - そのクラスのオブジェクト全体で共有する属性。
  
  ## 図を描く時の注意
  ### シーケンス図
  - 矢印は黒塗りつぶし
  - リプライは値の取得と大番（1.1などではなく1のようなもの）だけ
  - 画面を閉じる、データの破棄はばつ印をつける
  
  ### 設計レベルのクラス図
  - インタフェースの実装クラスには実装したメソッドを書く
  - 可能誘導性は投げかけられる方に矢印を向け反対にばつ印
  
  ### ステートマシン図
  - ステートをネストするテクニックを覚えて置く。
  
  
  
  
  
  
  
  
  
  
'''
tags: []
isStarred: false
isTrashed: false
