createdAt: "2018-03-06T10:48:32.271Z"
updatedAt: "2018-03-07T03:55:21.655Z"
type: "MARKDOWN_NOTE"
folder: "9f2303f6140476f3d2dc"
title: "Route53"
content: '''
  # Route53
  Route53はDNSサービスである。
  ドメインの取得もこれでできる。
  
  このサービスは前提として独自ドメインを所持している必要がある。
  
  課金は`ホストゾーンの運用`と`ホストゾーンに対するクエリ(問い合わせ)`に課金される。
  |利用内容|料金|
  |:---:|:---:|
  |最初の25ホストゾーン|0.50 USD/月|
  |25以降のホストゾーン|0.10 USD/月|
  |最初の10億クエリ/月|0.400 USD(100万クエリごと)|
  |以降の10億クエリ/月|0.200 USD(100万クエリごと)|
  
  ## 注意点
  注意点としてホストゾーンの料金は日割り(利用料/31日)されない。
  １ヶ月フルで使おうと、１週間使おうと料金は変わらない。
  ただしテストのため12時間以内に削除されたものに関しては無料。
  
  ## 予測料金
  個人でホストゾーンを一つ利用した場合、クエリ料金も合わせて約64円ほどになる。
  
'''
tags: [
  "DNS"
]
isStarred: false
isTrashed: false
