createdAt: "2018-03-07T03:56:12.508Z"
updatedAt: "2018-03-10T06:10:51.060Z"
type: "MARKDOWN_NOTE"
folder: "6e8d84390952ff1cf5bc"
title: "基本構文"
content: '''
  # 基本構文
  - 全てがオブジェクトである。
  
  ```ruby
  # コメント
  print "Hello World"
  ```
  
  ## 変数
  英小文字の**スネークケース**で宣言。
  ```ruby
  msg = "Hello World"
  is_visible = true
  ```
  
  ## 定数
  英大文字の**スネークケース**で宣言。
  ただし代入はでき、実行時に警告が出るだけなので気をつける。
  ```ruby
  VERSION = 2.0
  ```
  
  ## 文字列
  シングルクォーテーションかダブルクォーテーションで宣言。
  ダブルクォーテーションで宣言した場合式展開が可能。
  ```ruby
  msg = 'Hello World'
  num = "#{2 + 5} #{msg}"
  ```
  
  ## 真偽値
  偽は`false`と`nil`のみ。
  それ以外は真。`0`も`空白("")`も真。
  ```ruby
  is_visible = true
  is_visible = false
  ```
'''
tags: []
isStarred: false
isTrashed: false
