createdAt: "2018-07-24T00:43:51.395Z"
updatedAt: "2018-09-24T09:41:17.245Z"
type: "MARKDOWN_NOTE"
folder: "f93ca70034e6ecce43f2"
title: "エレガント"
content: '''
  # エレガント
  - Baskerville
'''
tags: []
isStarred: false
isTrashed: false
