createdAt: "2018-03-25T08:00:26.836Z"
updatedAt: "2018-03-25T08:02:11.841Z"
type: "MARKDOWN_NOTE"
folder: "1c46d39ad9f3cb432f79"
title: "バージョン管理"
content: '''
  バージョン管理
  
  宇野先輩に相談
'''
tags: []
isStarred: false
isTrashed: false
