createdAt: "2018-02-22T03:16:54.358Z"
updatedAt: "2018-02-22T03:17:28.078Z"
type: "MARKDOWN_NOTE"
folder: "e2ebfb508792821cf8cc"
title: "リハビリの成果"
content: '''
  リハビリの成果
  
  [wisdom](https://github.com/Nexus0831/wisdom)
'''
tags: []
isStarred: false
isTrashed: false
