createdAt: "2018-04-13T02:10:28.889Z"
updatedAt: "2018-04-24T11:30:02.838Z"
type: "MARKDOWN_NOTE"
folder: "681ce933dcb605096030"
title: "オペレーティング・システム"
content: '''
  # オペレーティング・システム
  期末試験あり
  
  # 第一回(OSの概要)
  最初のOSはIBM製の`OS/360(1964年)`であり、`OS/370`,`OS/390`と発展。
  OSは基本ソフトウェアに含まれる。狭義では制御OS。
  OSが優秀でないとハードウェアの性能を活かしきれない。
  
  ## カーネル
  OSの基本機能を実行するプログラム
  ### モノリシックカーネル
  全ての機能をカーネルに搭載する。
  現在はこちらが主流。
  ### マイクロカーネル
  プロセス管理とメモリ管理などの最小限の機能に限定したカーネル。
  
  ## API
  OSが自身の機能の一部を他のプログラムで利用できるように公開されている。
  意味はWebAPIなどと同じ。
  
  ## UNIX
  UNIXは、カーネルとシェルで構成。
  
  ---
  
  # 第二回(プロセスの制御)
  - プロセス管理の目的は、**CPUを効率的に使用する**こと
  - そのために**マルチプログラミング**を行なっている
  
  ## マルチプログラミング
  メモリ上に複数のプロセスを置き、実行中のプロセスが**待ち状態**になったら、**別の**プロセスにCPUを割り当て実行プロセスを切り替える。
  
  ### メリット
  - CPUの空き時間を減らし、利用率を向上させる
  - CPUが一つのコンピュータでも、複数のコンピュータでも実現できる。
  
  ## プロセス生成の方法
  1. ユーザからの指令に伴い、OSがプロセスを生成する。
  2. 実行状態のプロセスが新しいプロセスを生成する。
  
  ## プロセスの階層構造
  - 子プロセスは一つの親プロセスを持つ
  - 親プロセスは複数の子プロセスを持つことができる
  - プロセスは孫、子、親の順で終了する
  
  ## UNIXにおけるプロセス生成
  1. 親プロセスが*forkシステムコール*によって、子プロセスを生成
  2. 子プロセスはforkの次の命令から、親プロセスと並行して実行
  
  ## プロセス生成によって起こること
  OSがそのプロセスの**PCB**と**アドレス空間**を作る。
  
  ### PCB(Process Control Block)
  OSの領域に作成され、プロセスの状態を刻々と記録している
  - プロセスのID、状態、優先度、次のPCBへのポインタ
  - 割り当てられている入出力装置の情報
  - レジスタ、プログラムカウンタの値の退避領域
  
  ### アドレス空間
  - 実行形式のプログラム全体を配置する領域
  - 仮想記憶システムでは、主記憶に制約されない論理的なアドレス空間
  
  ## コンテキストスイッチ
  CPUに与えるプロセスを切り替える際に行われる
  
  1. CPUを奪われるプロセスのPCBにレジスタ、プログラムカウンタの値を退避する
  2. CPUを与えるプロセスのPCBの退避域の値をレジスタ、プログラムカウンタに設定する
  
  ## プロセス切り替えの方式
  ### イベントドリブン(事象駆動)
  - イベントをトリガーとしてプロセスを切り替える
  - マルチプログラミングを行うのに必須
  
  ### タイムスライシング
  - システムの状態変化とは無関係に、設定したい短い時間の周期でプロセスを切り替える
  - TSSの実現に必須
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
'''
tags: []
isStarred: false
isTrashed: false
