createdAt: "2018-04-13T02:10:28.889Z"
updatedAt: "2018-04-13T05:45:40.537Z"
type: "MARKDOWN_NOTE"
folder: "681ce933dcb605096030"
title: "オペレーティング・システム"
content: '''
  # オペレーティング・システム
  期末試験あり
  
  # 第一回(OSの概要)
  最初のOSはIBM製の`OS/360(1964年)`であり、`OS/370`,`OS/390`と発展。
  OSは基本ソフトウェアに含まれる。狭義では制御OS。
  OSが優秀でないとハードウェアの性能を活かしきれない。
  
  ## カーネル
  OSの基本機能を実行するプログラム
  ### モノリシックカーネル
  全ての機能をカーネルに搭載する。
  現在はこちらが主流。
  ### マイクロカーネル
  プロセス管理とメモリ管理などの最小限の機能に限定したカーネル。
  
  ----
  
  ## API
  OSが自身の機能の一部を他のプログラムで利用できるように公開されている。
  意味はWebAPIなどと同じ。
  
  ## UNIX
  UNIXは、カーネルとシェルで構成。
'''
tags: []
isStarred: false
isTrashed: false
