createdAt: "2018-04-18T06:35:32.932Z"
updatedAt: "2018-04-18T06:46:45.045Z"
type: "MARKDOWN_NOTE"
folder: "681ce933dcb605096030"
title: "情報セキュリティ(練習問題)"
content: '''
  # 情報セキュリティ(練習問題)
  
  ## DNSポイズニング
  DNSに嘘情報を流してドメイン名とIPアドレスの変換をうまくいかなくする攻撃
  
  ## セキュリティインシデント
  すでにセキュリティが侵害されている状態、またはその疑いのある状態のこと
  
  ## 無線LANのセキュリティ対策
  MACアドレスで制御すれば登録してあるマシンしか繋げない
  
  ## シングルサインオン
  パスワードが一つで済む仕組み
  
  ## ソーシャルエンジニアリング
  社会的な方法(話術、盗み見など)によってセキュリティ情報を入手すること
  
  ## バナーチェック
  攻撃したい相手がどんなシステムかチェックすること
  
  ## ステルス
  見えなくすることをステルスと呼ぶ
  
  ## ブートセクタ
  ディスク起動時に最初に起動される場所
  
  ## Rootkit
  攻撃に必要なツールが入っている便利道具
  
  ## マクロウイルス
  **Excel**などのマクロで作ったウイルスであり、ソースコードが読めるのとExcelを持っていれば誰でも簡単に作れるのが特徴
  
  ## テンペスト
  電磁波から情報を盗む方法。
  変化する電圧があれば電磁波が発生するため解析すれば元データが見れる。
  
  ## ウイルスの経路
  メールが圧倒的に多い
  
  
  
  
  
  
  
  
  
  
  
'''
tags: [
  "Eラーニング"
]
isStarred: false
isTrashed: false
