createdAt: "2018-03-11T10:42:44.089Z"
updatedAt: "2018-03-11T10:44:48.685Z"
type: "MARKDOWN_NOTE"
folder: "6e8d84390952ff1cf5bc"
title: "bundler"
content: '''
  bundler
  
  [Bundlerの使い方 - Qiita](https://qiita.com/oshou/items/6283c2315dc7dd244aef)
'''
tags: [
  "パッケージ管理"
]
isStarred: false
isTrashed: false
