createdAt: "2018-04-15T07:00:18.408Z"
updatedAt: "2018-04-15T11:54:07.517Z"
type: "MARKDOWN_NOTE"
folder: "1c46d39ad9f3cb432f79"
title: "コーディングスタイル"
content: '''
  # コーディングスタイル
  
  ## Atom-Beautiful
  Atomでの保存時に自動でコードを整形できるように`Atom-Beautiful`を使う。
  PHPのコードを整形するために以下のコマンドで`php-cs-fixer`をインストール。
  ```shell
  brew install php-cs-fixer
  ```
  そして`Atom-Beautiful`でパスを設定。
  
  ## linter-phpcs
  [参考](https://hacknote.jp/archives/26714/)
  composerで`phpcs`をインストール。
  ```shell
  composer global require "squizlabs/php_codesniffer=*"
  ```
  そしてパスを通す。
  ```shell
  set -U fish_user_paths $HOME/.composer/vendor/bin $fish_user_paths
  ```
  
  
'''
tags: [
  "コーディングスタイル"
]
isStarred: false
isTrashed: false
