createdAt: "2018-02-22T03:14:46.891Z"
updatedAt: "2018-02-22T03:16:12.276Z"
type: "MARKDOWN_NOTE"
folder: "aeae1f50d1814c94c245"
title: "気になること"
content: '''
  気になること
  
  GOPATHなどのプロジェクト管理をどうするのか前納先生に要相談
'''
tags: [
  "疑問"
]
isStarred: false
isTrashed: false
