createdAt: "2018-09-24T09:37:15.992Z"
updatedAt: "2018-09-24T09:40:06.543Z"
type: "MARKDOWN_NOTE"
folder: "f97ba47d6d7b9ad394ec"
title: "色について"
content: '''
  # 色について
  色のもつ効果などまとめ
  
  ## 暖色系
  暖色系は時間の流れを遅く感じさせる効果があり、飲食店などゆったりしてほしい施設のインテリアに効果的である。
  
  ## 寒色系
  寒色系は時間の流れを早く感じさせる効果があり、待ち合わせ場所などあまり人を待たせないほうがいい場所に効果的である。
'''
tags: [
  "色"
]
isStarred: false
isTrashed: false
