createdAt: "2018-07-19T00:42:41.291Z"
updatedAt: "2018-07-19T00:42:47.800Z"
type: "MARKDOWN_NOTE"
folder: "b1ab926b1b9c987ba6fb"
title: "簿記"
content: '''
  ## 簿記
  
'''
tags: []
isStarred: false
isTrashed: false
