createdAt: "2018-04-25T01:18:04.922Z"
updatedAt: "2018-04-25T04:41:13.599Z"
type: "MARKDOWN_NOTE"
folder: "681ce933dcb605096030"
title: "Web技術概論"
content: '''
  # Web技術概論
  
  # 第一回
  - [ ] 個人用Webページ申請をしておくこと。king-lms -> 統合情報システム室ページで申請
  
  - 1990年末、CERNのTim Berner-LeeがNeXTマシン上に世界初のWebサーバを構築した。
  - 1991年８月には最初のWebサイトが世界に公開された。
  - Webを成立させる要素技術に特許を一切課さなかった。
    - 結果誰でもWeb開発を行えるようになった
  
  ## 要素技術
  Webを構成する技術
  ### URL(Uniform resource Locator)
  インターネット上のリソースの場所を特定する表記法。
  `http://www.kcg.ac.jp/scholl_info/history.html`
  
  ### HTTP(HyperText Transfer Protocol)
  サーバとブラウザ間で行われる通信の規約
  
  ### HTML(HyperText Markup Language)
  Webページの構成要素とその構造をタグによって意味付けする表記法
  文字で表現できないコンテンツもURLをタグに埋め込んで記述できる。
  
  ## Web技術の歴史
  ### Webブラウザの誕生
  - 1993年 NCSA Mosaic
    - これまでのブラウザと違いテキストと画像を同じWebページで表示できた。
  - 1994~95年 Netscape
    - Javascriptの実装ができた最初のブラウザ。
  
  ### IP接続サービスの誕生
  - 1989年 日本で研究機関にIP接続ネットワークが広まり始めた
  - 1992~93年 日本にインターネット接続サービス業者（プロバイダ）が誕生
    - これにより個人でメールサーバやWebページを持てるようになった
  
  ### Web2.0の時代(2005年頃~)
  - ページ単位での情報発信からコンテンツ単位の情報共有
  - 複数のユーザがコンテンツを共有する。
    - プログのコメントなどページの作成者ではないユーザもコンテンツを共有する
  
  - 特別な知識がなくてもWebコンテンツを作成し提供できる仕組みが作られた
    - HTML+アップロードからフォーム記入+送信に
    - 一方でデータベースやスクリプトなどの技術が不可欠になった
  
  - 一般ユーザがWebに求める機能は複雑化していく、しかしWebの規格自体はシンプルなまま。
    - ギャップを埋めるのには技術が必要
  
  ## 今必要とされるWeb技術
  ### Web技術として知っておくべきこと
  - HTTP
    - ヘッダ・メソッド(GET, POSTなど)・ステータスコード(200, 404など)
  
  - データ構造・表記法
    - DOM, MIME, XML, JSON...
  
  - 主なWebサーバ・クライアント
    - Apache, IIS, Tomcat
    - FireFox, Safariなど
  
  - Webサーバ上の言語
    - PHP, Ruby, Python, JSP, ASP
    - CakePHP, Rails...
  
  - ブラウザ上の言語
    - JavaScript
    - React, Vue...
  
  - セキュリティ
    - XSS, SQL Injection...
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
'''
tags: [
  "Eラーニング"
]
isStarred: false
isTrashed: false
