createdAt: "2018-04-12T05:26:06.066Z"
updatedAt: "2018-04-12T08:43:48.213Z"
type: "MARKDOWN_NOTE"
folder: "184ba01b44b8b6cf4b4f"
title: "JavaFX"
content: "# JavaFX"
tags: [
  "GUI"
]
isStarred: false
isTrashed: false
