createdAt: "2018-03-06T05:05:52.207Z"
updatedAt: "2018-03-06T05:07:40.119Z"
type: "SNIPPET_NOTE"
folder: "55949ba7939b08dec045"
title: "練習"
description: "練習"
snippets: [
  {
    name: ""
    mode: "Java"
    content: '''
      public static void main(String[] args) {
        System.out.print("Hello World")
      }
    '''
  }
]
tags: []
isStarred: false
isTrashed: false
