createdAt: "2018-04-07T12:13:51.027Z"
updatedAt: "2018-09-29T15:19:27.966Z"
type: "MARKDOWN_NOTE"
folder: "b137b4b21d4f9bfac0e4"
title: "cocoapod"
content: '''
  # cocoapod
  cocoapodは`ruby`で作られているので`gem`でインストール。
  ```shell
  gem install cocoapod
  pod setup # 初期設定
  ```
  
  ## 使い方
  ```shell
  pod init
  ```
  で作られた`*.xcworkspace`を`xcode`で開く。
  出ないとライブラリが使えない。
  
  ## podのアップデート
  ```shell:fish
  gem update cocoapods
  
  # 一応
  pod setup
  ```
  
  ## ライブラリのインストール
  ```shell
  vi Podfile
  ```
  で開いた`Podfile`に
  ```shell
  pod 'ライブラリ名'
  ```
  で追加し`pod install`でインストール
'''
tags: [
  "パッケージ管理"
]
isStarred: false
isTrashed: false
