createdAt: "2018-04-12T00:49:15.177Z"
updatedAt: "2018-08-02T02:06:43.417Z"
type: "MARKDOWN_NOTE"
folder: "681ce933dcb605096030"
title: "システム設計演習対策　用語編"
content: '''
  # システム設計演習対策　用語編
  ## 問1
  - データの源泉・吸収
    - データを発生または吸収する外部要素
    - データを発生または吸収する外部要素
  - データフロー
    - データの流れ
    - データの流れ
  - プロセス
    - データを加工する処理
    - データを加工する処理
  - データストア
    - データを蓄えるための台帳、ファイル、データベースなど
    - データを保存するための台帳、ファイル、データベースなど
  
  ## 問2
  - 仕事
    - 頭や身体を使って、仕事で扱うモノを初めの状態から終わりの状態に変化させること
    - 頭や身体を使って仕事で扱うものを初めの状態から終わりの状態に変化させること
  - 要のもの
    - 仕事で扱うもの、状態を持つ。
    - 仕事で扱うもの、状態をもつ
  - 要のこと
    - 要のものを初めの状態から終わりの状態に変化させること
    - 用のものを初めの状態から終わりの状態に変化させること
  - 業務フロー
    - 業務の流れを可視化したもの
    - 業務の流れを可視化したもの
  - 概念モデル
    - 業務で扱う概念の属性と概念間の関係を表現したもの、概念設計の成果物、通常はERモデル
    - 業務で扱う概念の属性や概念間の関係を表したもの、概念設計の成果物。通常はERモデル
  - エンティティ
    - 仕事で扱う重要な属性の塊
    - 仕事で扱う重要な属性の塊
  - 属性
    - エンティティの性質を特徴付けるデータ項目
    - エンティティの性質を特徴付けるデータ項目
  - リソース
    - 経営資源に由来するエンティティ。会員、商品、倉庫など
    - 経営資源に由来するエンティティ。会員、商品など
  - イベント
    - 経営活動に由来するエンティティ。受注や発注など
    - 経営活動に由来するエンティティ。受注や発注など
  - 関連
    - エンティティ間の依存あるいは参照関係を表現したもの
    - エンティティ感の依存あるいは参照関係を表現したもの
  - リレーション
    - 関係モデルの表のこと
    - 関係もでるの表のこと
  - 依存型リーションシップ
    - 依存先の主キーが依存元の主キーの一部として保存されるタイプの関連
    - 依存先の主キーが依存元の主キーの一部として保存されるタイプの関連
    - 依存先の主キーが依存元の主キーの一部として保存されるタイプの関連
  - 非依存型リレーションシップ
    - 参照先の主キーが参照元の非キー属性として保持されるタイプの関連
    - 参照先の主キーが参照元の非キー属性として保存されるタイプの関連
  - 関数従属性
    - あるデータ項目の値が決まると、別のデータ項目の値がいつも必ず一意に決まるという性質
    - あるデータ項目の値が決まると、別のデータ項目の値がいつも必ず一意に決まるという性質
    - あるデータ項目の値が決まると、別のデータ項目の値がいつも必ず一意に決まるという性質
  - 部分関数従属性
    - ある非キー属性が主キーの一部だけに関数従属している状態
    - ある非キー属性が主キーの一部だけに関数従属している状態
  - 推移的関数従属性
    - AからBに関数従属性があり、BからCに関数従属性がありBからAには関数従属性がない状態
    - AからBに関数従属性があり、BからCに関数従属性がありBからCには関数従属性がない状態
  - 多値従属性
    - あるデータ項目の値が決まると、別のデータ項目の値がいつも必ず複数決まるという性質
    - あるデータ項目の値が決まると、別のデータ項目の値がいつも必ず複数決まるという性質
  - 主キー
    - 行を一意に識別するための属性として、論理設計者が選んだ属性
    - 行を一意に識別するための属性として、論理設計者が選んだ属性
    - 行を一意に識別するための属性として、論理設計者が選んだ属性
  - 複合キー
    - 2つ以上の属性で構成されている主キーのこと
    - 2つ以上の属性で構成される主キーのこと
  - 外部キー
    - 他のあるいは自分自身の表のある行を特定するための属性
    - 他のあるいは自分自身の表のある行を特定するための属性
  - 参照整合性
    - 外部キーで特定する行は必ず存在していなければいけないという制約
    - 外部キーで特定する行は必ず存在していなければいけないという制約
  - 非NULL制約
    - その属性の値はNULLであってはいけないという制約
    - その属性の値はNULLであってはいけないという制約
  - 一意制約
    - その属性の値は関係を通じて重複してはならないという制約
    - その属性の値は関係を通じて重複してはならないという制約
  - 主キー制約
    - 非NULL制約とユニーク制約を兼ね備えた制約
    - 非NULL制約とユニーク制約を兼ね備えた制約
  
  ## 問3
  - 第一正規形 -> 第二正規形
    - 主キーの一部だけに関数従属している属性を別テーブルに分離する。
    - 主キーの一部だけに関数従属している属性を別テーブルに分離する。
    - 主キーの一部にだけ関数従属している属性を別テーブルに分離
    - 主キーの一部にだけ関数従属している属性
  - 第二正規形 -> 第三正規形
    - 主キーから推移的に関数従属している属性を別テーブルに分離する。
    - 主キーから推移的に関数従属している属性を別テーブルに分離する
    - 主キーから推移的に関数従属している属性を別テーブルに分離
  - 第三正規形 -> ボイスコッド正規形
    - 非キー属性から主キーへ関数従属している属性を別テーブルに分離する。
    - 非キー属性から主キーに関数従属している属性を別テーブルに分離する
    - 非キー属性から主キーに関数従属している属性を別テーブルに分離する
  - ボイスコッド正規形 -> 第四正規形
    - ３項関連において、自明でない多値従属性があるキーの組み合わせを別関連テーブルに分離する。
    - ３項関連に置いて、自明でないたち従属性があるキーの組み合わせを別関連テーブルに分離する
    - ３項関連において、自明でないたち従属性があるキーの組み合わせを別関連テーブルに分離する。
    - ３項関連において、自明でないたち従属性のあるキーの組み合わせを別関連テーブルに分離する
  - 第四正規化 -> 第五正規形
    - ３項関連において、冗長なキーの組み合わせを別関連テーブルに分離する。
    - ３項関連において冗長なキーの組み合わせを別関連テーブルに分離する。
    - ３項関連において冗長なキーの組み合わせを別関連テーブルに分離する。
  
  ## 問4
  - 4W2H
    - When: いつ
    - Who: 誰が
    - What: 何を
    - Where: どこへ
    - HowMany: どれだけ
    - HowMuch: いくらで
  - 受注伝票のデータ項目
    - When: 受注日時、希望納期
    - Who: 発注者
    - What: 商品
    - Where: お届け先
    - HowMany: 数量
    - HouMuch: 販売単価、金額
  - 在庫のデータ項目
    - When: 時点
    - Who:
    - What: 商品
    - Where: 倉庫
    - HowMany: 現在在庫数
    - HowMuch: 在庫評価額
  - 購入依頼書のデータ項目
    - When: 購入依頼日時、希望納期 
    - Who: 依頼者
    - What: 商品
    - Where: 納品先
    - HowMany: 数量
    - HowMuch: 購買単価、金額
'''
tags: []
isStarred: false
isTrashed: false
