createdAt: "2018-04-12T00:49:15.177Z"
updatedAt: "2018-04-13T05:53:44.800Z"
type: "MARKDOWN_NOTE"
folder: "681ce933dcb605096030"
title: "システム設計演習"
content: '''
  # システム設計演習
  図の作成は学校のパソコンの`astah`で行う。
  ファイルはデスクトップに保存。
  
  # 第一回（システム設計の流れ, DFD)
  DFDは業務の流れや改善点を検討することに適している。
  
  ## システム設計の流れ
  ### 1. 業務分析
    - DFDを作成
  ### 2. 概念モデリング
    - ER図またはUMLを作成
  ### 3. システム要求定義
    - ユースケース図、イベントフロー、画面遷移図を作成する。
  ### 4. システム分析
    - ユースケース実現の相互作用図を作成する。
  ### 5. システム設計
    - アーキテクチャ設計
    - データの論理設計
  
  ## 用語
  ビジネスエンティティ・・・業務を行うにあたって忘れては困る重要なデータ
  フルフィルメント・・・商品の受注から決済に至るまでの業務全般のこと
'''
tags: []
isStarred: false
isTrashed: false
